.button {
    background: rgb(86, 90, 150);
    background: linear-gradient(0deg, rgb(62, 180, 131) 0%, rgb(20, 142, 223) 100%);
    border: none;
    width: 55px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}

.button:hover {
    background: rgb(86, 90, 150);
    background: linear-gradient(0deg, rgb(66, 202, 202) 0%, rgba(2,126,251,1) 100%);
}