.firstBox {
    width: 1000px;
    height: 100px;
    border: 1px solid rgba(182, 178, 174, 1);
    background-color: rgba(162, 183, 189, 1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "BinggraeBold";
}

.secondBox {
    width: 1000px;
    height: 600px; 
    border: 1px solid rgba(182, 178, 174, 1);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-family: "BinggraeBold";
    align-items: center;
    border-radius: 10px;
}

.leftBox {
    width: 450px;
    height: 500px;
    background-color: rgba(248, 248, 248, 1);
    border: 1px solid rgb(207, 197, 197);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.leftBox div {
    height: 100px;
}

.rightBox {
    width: 450px;
    height: 500px;
    background-color: rgba(248, 248, 248, 1);
    border: 1px solid rgb(207, 197, 197);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.rightBox div {
    background-color: white;
    height: 60px;
    padding: 20px;
    border: 2px solid rgb(207, 197, 197);
    border-radius: 10px;
}

.cake {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spending {
    height: 100px;
    border: 2px solid rgb(207, 197, 197);
    border-radius: 10px;
}

.space {
    height: 50px;
}